body{
    margin:0px;
    padding:0px;
    background-attachment: fixed;
}

.logo{
    margin-top:5px;
    width:100px;
    height:70px;
    margin-right: 20px;
}
img{
    width:auto;
    height:567px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    
}

.head{
    margin-top: 40px;
}


nav{
    display: flex;
    width: 100%;
    height:50px;

    padding: 10px;
    
}
span{
    font-size: 35px;
    margin-top: 10px;
    color:crimson;
    font-style: oblique;
    font-weight: bold;
    flex:1;
}
ul{
    display:flex;
    justify-content: flex-end;
    list-style: none;
    margin-top:70px;
    margin-right: 50px;
    gap:30px;
    text-decoration:none;
    color:darkgray;
    font-weight:unset;
    font-family:'Courier New', Courier, monospace;
    flex:1;
}
.list>li:hover{
   color:crimson;
    font-style: oblique;
     font-weight:bold;
    font-family:'Courier New', Courier, monospace;
    visibility: visible ;
    flex:1;
   
}
.list a {
   font-size: 20px;
   text-decoration: none;
   color:rgb(102, 102, 102);
}
.carousel-item{
    position: relative;
   
    margin-right: 40px;
}

/* Child Text Container */
.carousel-item .bf{
   
    position: absolute;
   text-align: center;

    color:black;
    margin-bottom:100px;
    font-family: sans-serif;
    opacity: 0;
    /* visibility: hidden; */
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}
.carousel-item .ml{
   
    position: absolute;
   text-align: center;

    color:white;
    margin-bottom:100px;
    font-family: sans-serif;
    opacity: 0;
    /* visibility: hidden; */
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}
.carousel-item .dk{
   
    position: absolute;
   text-align: center;

    color:rgb(224, 71, 117);
    margin-bottom:100px;
    font-family: sans-serif;
    opacity: 0;
    /* visibility: hidden; */
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.carousel-item:hover{
    cursor: pointer;
}

.carousel-item:hover .bf{
     margin-left:300px;
     margin-top:200px;
    font-weight: bold;
    font-size: 80px;

    padding: 10px 15px;
    visibility: visible;
    opacity:0.7; 
}
.carousel-item:hover .ml{
    margin-left:150px;
    margin-top:200px;
    font-weight: bold;
 
   font-size:60px;

   padding: 10px 15px;
   visibility: visible;
   opacity:0.7; 
}
.carousel-item:hover .dk{
    margin-left:180px;
    margin-top:80px;
    font-weight: bold;
     font-style: oblique;
   font-size:50px;

   padding: 10px 15px;
   visibility: visible;
   opacity:0.7; 
}



