body{
    margin:0px;
    padding:0px;
    background-attachment: fixed;
}

.logo{
    margin-top:5px;
    width:100px;
    height:70px;
    margin-right: 20px;
}
.head{
    margin-top: 40px;
}


nav{
    display: flex;
    width: 100%;
    height:50px;

    padding: 10px;
    
}
span{
    font-size: 35px;
    margin-top: 10px;
    color:crimson;
    font-style: oblique;
    font-weight: bold;
    flex:1;
}
ul{
    display:flex;
    justify-content: flex-end;
    list-style: none;
    margin-top:70px;
    margin-right: 50px;
    gap:30px;
    text-decoration:none;
    color:darkgray;
    font-weight:unset;
    font-family:'Courier New', Courier, monospace;
    flex:1;
}
.list>li:hover{
   color:crimson;
    font-style: oblique;
     font-weight:bold;
    font-family:'Courier New', Courier, monospace;
    visibility: visible ;
    flex:1;
   
}
.list a {
   font-size: 20px;
   text-decoration: none;
   color:rgb(102, 102, 102);
}

/* section part */
.main{
    display:flex;
    flex-direction: column;
    margin-top: 50px;
}
.para{
    color:crimson;
    font-size:30px;
    font-weight: bold;
    text-align: center;
}
p{
    text-align: center;
    font-size:25px;
    font-weight: bold;
}



/* first */
.first{
    display:flex;
    flex:2;
    /* border:2px solid black; */
}


/* second */
.second{
    display:flex;
   flex:2;
   margin-top:20px;
    /* border:2px solid black; */
}

/* third */
.third{
    display:flex;
   flex:2;
    /* border:2px solid black; */
}




/* gallery part */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    margin-top: 50px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
.des{
  text-align: center;

}
  