body{
    margin: 0;
    padding:0;
    background-color: crimson;
}
img{
    width:500px;
    height:auto;
    margin-left: 420px;
    margin-top: 50px;
    border-radius: 40px 40px 40px;
}
